{% extends 'backend/dashboard/main.html' %}
{% load static %}
{% block header_resource %}
    <link rel="stylesheet" href="{% static 'assets/plugins/toastr/toastr.min.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <!-- AMSMS Credential Start -->
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-header bg-white">
                    <p class="card-title m-0 p-2">AMSMS Credential</p>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="" method="POST">
                        <input type="hidden" name="gateway_name" value="am_sms">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-from-label">API URL</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="api_url" value="{{ am_sms.api_url }}"
                                       placeholder="example.com/api" required="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-from-label">API KEY</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="api_key" value="{{ am_sms.api_key }}"
                                       placeholder="xxxxxxxxxxx" required="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-from-label">DEVICE ID</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="device_id" value="{{ am_sms.device_id }}"
                                       placeholder="xxxxxxxxxxx">
                            </div>
                        </div>
                        <div class="form-group mb-0 text-center">
                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- AMSMS Credential End -->

        <!-- Fast2SMS Credential Start -->
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-header bg-white">
                    <p class="card-title m-0 p-2">Fast2SMS Credential</p>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="" method="POST">
                        <input type="hidden" name="gateway_name" value="fast2sms">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-from-label">API URL</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="api_url" value="{{ fast2sms.api_url }}"
                                       placeholder="example.com/api" required="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-from-label">USERNAME</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="user_name" value="{{ fast2sms.user_name }}"
                                       placeholder="user name" required="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-from-label">PASSWORD</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="password" value="{{ fast2sms.password }}">
                            </div>
                        </div>
                        <div class="form-group mb-0 text-center">
                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Fast2SMS Credential End -->
    </div>
{% endblock %}
{% block extra_js %}
    <script type="application/javascript" src="{% static 'assets/plugins/toastr/toastr.min.js' %}"></script>
    <script>

        $(document).ready(function () {
            $('form').on('submit', function (event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{% url "save_sms_gateway_config" %}',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                               toastr.success(data.message); // Show success message
                        } else {
                            toastr.error(data.message);
                        }
                    },
                    error: function () {
                        toastr.error('An error occurred while saving data.');
                    }
                });
            });
        });
    </script>
{% endblock %}