<div class="row">
    <div class="col-md-12 grid-margin transparent">
        <div class="row">
            <!-- card-1 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-tale" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="fas fa-users"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">Total Client</div>
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 15px;">320</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Number of clients who are currently running
                    </div>
                </div>
            </div>
            <!-- card-1 end -->

            <!-- card-2 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="fas fa-user-check"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">Active Clients</div>
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 15px;">315</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Number of clients whom status are active
                    </div>
                </div>
            </div>
            <!-- card-2 end -->

            <!-- card-3 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="fas fa-user-times"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">Inactive Clients</div>
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;">1</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Number of clients whom status are inactive
                    </div>
                </div>
            </div>
            <!-- card-3 end -->

            <!-- card-4 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-gray" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="fas fas fa-user-ninja"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">Balance</div>
                                
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 15px;">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Number of clients those are free/personal
                    </div>
                </div>
            </div>
            <!-- card-4 end -->

            <!-- card-5 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-tale" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="fas fa-user-plus"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">New Client</div>
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 15px;">8</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Monthly number of clients those are new
                    </div>
                </div>
            </div>
            <!-- card-5 end -->

            <!-- card-6 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="fas fa-users-cog"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">Renewed Clients</div>
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 15px;">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Monthly number of newly renewed clients
                    </div>
                </div>
            </div>
            <!-- card-6 end -->

            <!-- card-7 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="fas fa-user-shield"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">Deactivated Clients</div>
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 15px;">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Monthly number of newly deactivated clients
                    </div>
                </div>
            </div>
            <!-- card-7 end -->

            <!-- card-8 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-gray" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="fas fa-user-minus"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">Left Clients</div>
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 15px;">4</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Number of clients those are not exist
                    </div>
                </div>
            </div>
            <!-- card -8 end -->

            <!-- card-9 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-tale" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="fas fa-user-check"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">Billing Clients</div>
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 15px;">315</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Number of clients whom bill generated
                    </div>
                </div>
            </div>
            <!-- card-9 end -->

            <!-- card-10 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="fas fa-receipt"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">Paid Clients</div>
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 15px;">315</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Number of clients those are fully paid
                    </div>
                </div>
            </div>
            <!-- card-10 end -->

            <!-- card-11 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="far fa-handshake"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">Partially Paid</div>
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 15px;">134</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Number of clients those are partially paid
                    </div>
                </div>
            </div>
            <!-- card-11 end -->

            <!-- card-12 start -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 stretch-card transparent">
                <div class="card card-gray" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                <div class="icon" style="font-size: 30px;">
								    <i class="fas fa-search-dollar"></i>
							    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="py-2 text-lg-left text-md-left text-sm-center text-center" style="font-size: 12px;font-weight: 600;">Unpaid Clients</div>
                                <div class="dummy_total_client number text-lg-left text-md-left text-sm-center text-center" style="font-size: 15px;">121</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.12);font-size: 12px;">
                        Number of clients those are fully unpaid
                    </div>
                </div>
            </div>
            <!-- card-12 end -->
            
            
            
            

        </div>

    </div>
</div>
