{% extends 'backend/dashboard/main.html' %}
{% block header_resource %}
    <style>
  .table tr td:nth-child(7) {

      font-size: 18px;
      text-align: center;
  }

   .table th:nth-child(7)
   {
        text-align: center;
   }
   .btn
   {
       font-size: 15px!important;
    line-height: 20px!important;
   }
</style>
    {% endblock %}

{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between align-items-center pl-4 pr-4 border-bottom pb-3">
                    <h4 class="card-title d-flex align-items-center m-0">({{ name }}) Package List </h4>
                    {% if user.user_type == 'RS-5005' %}
                        {% else %}
                         <a  href="{% url 'assign_new_package'  id %}" style="height: 40px;vertical-align: middle;display: flex; align-items: center;" class="btn btn-primary" >Assign New Package</a>
                    {% endif %}
                </div>


                <div class="table-responsive pt-3">
                    <table id="router_table" class="table dataTable table-bordered" style="width:100%">
                        <caption></caption>
                        <th></th>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#router_table').DataTable(
                {
                    dom: "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    ordering: true,
                    serverSide: true,
                     ajax: {
                    url: '{% url "assign_seller_package" id %}',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                         },
                    rowCallback: function (row, data, index) {
                        $('td:eq(0)', row).html(index + 1);
                    },
                    "columns": [
                        {title: "#", data: "count", "orderable": false, type: "num"},
                        {title: "Package", data: "package", "orderable": true, type: "string"},
                        {title: "Price", data: "price", "orderable": true, type: "string"},
                         {% if user.user_type == 'RS-5005' %}
                        {% else %}
                        {width: '30%', title: "Action", "data": "action", "orderable": false},
                    {% endif %}

                    ],
                    "pageLength": 10 // change the page length option to display 50 rows per page
                }
            );
        });
    </script>
{% endblock %}