<!DOCTYPE html>
<html lang="en">
{% load static %}


{% include 'frontend/include/header.html' %}


<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="{% static 'assets/images/brands/logo.png' %}" alt="logo">
                        </div>

                        <form action="{% url 'reset_password' %}" method="POST" id="user_form" class="pt-3">
                            <h4 id="form_title">Enter New Password</h4>
                        <h6 class="font-weight-light text-success"></h6>

                            {% csrf_token %}
                            <div class="form-group">
                                <input hidden name="email" value="{{ user.email }}">
                                <input type="password" name="password" class="form-control form-control-lg" id="password"
                                       placeholder="*******">
                            </div>
                            <div class="mt-3">
                                <div class="mt-3">
                                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                            href="">SUBMIT
                                    </button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->

<!-- endinject -->
</body>


{% include 'frontend/include/footer.html' %}

<script type="text/javascript" src="{% static 'assets/plugins/jquery-validation/jquery.validate.js' %}"></script>
<script type="application/javascript" src="{% static 'assets/plugins/toastr/toastr.min.js' %}"></script>

<script>
    $(document).ready(function () {

        $("#user_form").validate({
            rules: {
                user_mobile: {
                    required: true,
                },
            },
            messages: {
                user_mobile: "Please enter new password.",
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element); // Display the error message after the invalid input element
            }
        });


    });
</script>

</html>
