<!doctype html>
{% load static %}
<html lang="">
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="app-url" content="">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <title>EasyISP24</title>

    <!-- google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">


    <!-- aiz core css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'assets/plugins/aiz/aiz-core.css' %}">

    <script>
        var AIZ = AIZ || {};
    </script>
</head>
<body>
<div class="aiz-main-wrapper d-flex">

    <div class="flex-grow-1">
        <button id="bKash_button" class="d-none" style="display: none">Pay With bKash</button>
    </div>

</div><!-- .aiz-main-wrapper -->

<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/plugins/aiz/aiz-core.js' %}"></script>
<script src="https://scripts.sandbox.bka.sh/versions/1.2.0-beta/checkout/bKash-checkout-sandbox.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#bKash_button').trigger('click');
    });

    var paymentID = '';
    bKash.init({
        paymentMode: '0011', //fixed value ‘checkout’
        //paymentRequest format: {amount: AMOUNT, intent: INTENT}
        //intent options
        //1) ‘sale’ – immediate transaction (2 API calls)
        //2) ‘authorization’ – deferred transaction (3 API calls)
        paymentRequest: {
            amount: '{{ amount }}', //max two decimal points allowed
            intent: 'sale'
        },
        createRequest: function (
            request
        ) { //request object is basically the paymentRequest object, automatically pushed by the script in createRequest method
            $.ajax({
                url: '{% url 'hotspot_package_bkash_payment_checkout' %}',
                type: 'POST',
                data: {
                    'amount': '{{ amount }}',
                    'admin_id': '{{ admin_id }}',
                    'customer_mobile': '{{ customer_mobile }}',
                    'package_id': '{{ package_id }}',
                    'customer_id': '{{ customer_id }}'
                },
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (data) {
                    //console.log(data);
                    data = JSON.parse(data);
                    console.log(data);
                    if (data && data.paymentID != null) {
                        paymentID = data.paymentID;
                        window.location.href = data.bkashURL //Merchant’s success page
                    } else {
                        console.log(data.errorMessage)
                        bKash.create().onError();
                    }
                },
                error: function () {
                    bKash.create().onError();
                }
            });
        },
        executeRequestOnAuthorization: function () {
            $.ajax({
                url: '{% url 'bkash_execute' %}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    "paymentID": paymentID
                }),
                success: function (data) {
                    //console.log(data);
                    result = JSON.parse(data);
                    if (result && result.paymentID != null) {
                        window.location.href = "{% url 'bkash_success' %}?payment_details=" +
                            data; //Merchant’s success page
                    } else {
                        console.log(result.errorMessage)
                        bKash.execute().onError();
                    }
                },
                error: function () {
                    bKash.execute().onError();
                }
            });
        }
    });
</script>
</body>
</html>
