<ul class="nav flex-column">
    <!-- Main start -->
    <li class="nav-item nav-item-head">
        <h5 style="">Main</h5>
    </li>
    <!-- Main end -->

    <!-- IP TV M3U8 MODE start -->
    <li class="nav-item user position-relative">
        <a href="{% url 'iptv' %}" class="nav-link user">
            <i class="fa-solid fa-receipt"></i>
            <span class="">IP TV M3U8 MODE</span>
        </a>
    </li>
    <!-- IP TV M3U8 MODE end -->

    <!-- Hotspot Profile start -->
    <li class="nav-item user position-relative">
        <a href="{% url 'hotspot_profile' %}" class="nav-link user">
            <i class="fa-solid fa-house-user"></i>
            <span class="">Hotspot Profile</span>
        </a>
    </li>
    <!-- Hotspot Profile end -->
{##}
{#    <!-- Activation start -->#}
{#    <li class="nav-item user position-relative">#}
{#        <a href="{% url 'activation' %}" class="nav-link user">#}
{#            <i class="fa-solid fa-house-circle-check"></i>#}
{#            <span class="">Activation</span>#}
{#        </a>#}
{#    </li>#}
{#    <!-- Activation end -->#}

    <!-- Router OS start -->
    <li class="nav-item user position-relative">
        <a href="#" onclick="toggleSubmenu('router')" class="nav-link user">
            <i class="fa-solid fa-money-bill"></i>
            <span class="">Router OS</span>
            <i class="menu-arrow"></i>
        </a>
        <ul id="router" class="nav flex-column pl-4">
            <!-- All Router Access start -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'router_list' %}">
                    <i class="far fa-dot-circle"></i>
                    <span>All Router Access</span>
                </a>
            </li>
            <!-- All Router Access end -->
            <!-- Import PPPoE start -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'router_import' %}">
                    <i class="far fa-dot-circle"></i>
                    <span>Import PPPoE</span>
                </a>
            </li>
            <!-- Import PPPoE end -->
        </ul>
    </li>
    <!-- Router OS end -->

    <!-- Customers start -->
    <li class="nav-item user position-relative">
        <a href="#" onclick="toggleSubmenu('customers')" class="nav-link user">
            <i class="fa-solid fa-user-group"></i>
            <span class="">Customers</span>
            <i class="menu-arrow"></i>
        </a>
        <ul id="customers" class="nav flex-column pl-4">
            <!-- Customer List start -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'customer_list' %}">
                    <i class="far fa-dot-circle"></i>
                    <span>Customer List</span>
                </a>
            </li>
            <!-- Customer List end -->
        </ul>
    </li>
    <!-- Customers end -->

    <!-- Sellers start -->
    <li class="nav-item user position-relative">
        <a href="#" onclick="toggleSubmenu('sellers')" class="nav-link user">
            <i class="fa-regular fa-user"></i>
            <span class="">Sellers</span>
            <i class="menu-arrow"></i>
        </a>
        <ul id="sellers" class="nav flex-column pl-4">
            <!-- All Seller start -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'seller_list' %}">
                    <i class="far fa-dot-circle"></i>
                    <span>All Seller</span>
                </a>
            </li>
            <!-- All Seller end -->

            <!-- Assign Profiles start -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'assign_profiles' %}">
                    <i class="far fa-dot-circle"></i>
                    <span>Assign Profiles</span>
                </a>
            </li>
            <!-- Assign Profiles end -->

            <!-- Assign Vlans start -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'assign_vlans' %}">
                    <i class="far fa-dot-circle"></i>
                    <span>Assign Vlans</span>
                </a>
            </li>
            <!-- Assign Vlans end -->

            <!-- Payouts start -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'payouts' %}">
                    <i class="far fa-dot-circle"></i>
                    <span>Payouts</span>
                </a>
            </li>
            <!-- Payouts end -->

            <!-- Payout Requests start -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'payouts_requests' %}">
                    <i class="far fa-dot-circle"></i>
                    <span>Payout Requests</span>
                </a>
            </li>
            <!-- Payout Requests end -->

            <!-- Seller Verification Form start -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'seller_verification_form' %}">
                    <i class="far fa-dot-circle"></i>
                    <span>Seller Verification Form</span>
                </a>
            </li>
            <!-- Seller Verification Form end -->
        </ul>
    </li>
    <!-- Sellers List end -->
</ul>